<?xml version="1.0" ?>
<config>
    <modules>
        <SVI_GroupAdherence>
            <version>1.0.1</version>
        </SVI_GroupAdherence>
    </modules>
    <global>
        <blocks>
            <adherence>
                <class>SVI_GroupAdherence_Block</class>
            </adherence>
        </blocks>
        <models>
            <svi_groupAdherence>
                <class>SVI_GroupAdherence_Model</class>
                <resourceModel>adherence_resource</resourceModel>
            </svi_groupAdherence>
            <adherence_resource>
                <class>SVI_GroupAdherence_Model_Resource</class>
                <entities>
                    <adherence>
                        <table>svi_groupAdherence</table>
                    </adherence>
                </entities>
            </adherence_resource>
        </models>
        <resources>
            <svi_adherence_setup>
                <setup>
                    <module>SVI_GroupAdherence</module>
                </setup>
            </svi_adherence_setup>
        </resources>
        <helpers>
            <adherence>
                <class>SVI_GroupAdherence_Helper</class>
            </adherence>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adherence before="Mage_Adminhtml">SVI_GroupAdherence_Adminhtml</adherence>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <adherence>
                    <file>svi/adherence.xml</file>
                </adherence>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <svi_groupAdherence>
                <run>
                    <model>svi_groupAdherence/cron::applyAll</model>
                </run>
            </svi_groupAdherence>
        </jobs>
    </crontab>
</config>