<?xml version="1.0" ?>
<config>
    <modules>
        <Group_Adherence>
            <version>1.0.0</version>
        </Group_Adherence>
    </modules>
    <global>
        <blocks>
            <adherence>
                <class>Group_Adherence_Block</class>
            </adherence>
        </blocks>
        <models>
            <group_adherence>
                <class>Group_Adherence_Model</class>
                <resourceModel>adherence_resource</resourceModel>
            </group_adherence>
            <adherence_resource>
                <class>Group_Adherence_Model_Resource</class>
                <entities>
                    <adherence>
                        <table>group_adherence</table>
                    </adherence>
                </entities>
            </adherence_resource>
        </models>
        <resources>
            <adherence_setup>
                <setup>
                    <module>Group_Adherence</module>
                </setup>
            </adherence_setup>
        </resources>
        <helpers>
            <adherence>
                <class>Group_Adherence_Helper</class>
            </adherence>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adherence before="Mage_Adminhtml">Group_Adherence_Adminhtml</adherence>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <adherence>
                    <file>adherence/adherence.xml</file>
                </adherence>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <group_adherence>
                <run>
                    <model>group_adherence/cron::applyAll</model>
                </run>
            </group_adherence>
        </jobs>
    </crontab>
</config>